<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>

<div class="app-shell">

<div class="topbar">Select Language</div>

<div class="content">

<div class="card">తెలుగు</div>
<div class="card">தமிழ்</div>
<div class="card">हिंदी</div>
<div class="card" style="border:2px solid #0bbf53;">English ✔</div>

<button class="btn" onclick="location.href='/farmer-home'">
Continue
</button>

</div>

</div>

</body>
</html>
